<!DOCTYPE html>
<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        ntegrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'final.css' %}" />
    </head>

    <body>
        <nav class="navbar sticky-top navbar-light bg-light" style="height:80px">
            <a href="http://www.paarshinfotech.com" target="_blank"><div class="logo"></div></a>
            <div class="text-left">
                <!-- <button type="button" class="btn btn-dark"><a href="{% url 'login' %}" target="_blank">Employee Admin </button></a> -->
                <button type="button" class="btn btn-dark"><a href="{% url 'login' %}" target="_blank">Login </button></a>
              </div>
          </nav>
        <section>
            <div class='add'>
                <div class="heading">
                    <h1>Human Resource <br>Management System</h1>
                </div>
                <p class="lead fw-normal text-50 mb-4" style="color:wheat;">
                    “Human Resources isn’t a thing we do. It’s the thing that runs<br>our business.” -Steve Wynn
                </p>
            </div>
        </section>
        <br>

        <div class="container">
            <div class="row">
            <div class="col-4">
                <div class="card border-dark mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 100%;"> <!--  -->
                    <h5 class="card-header">Paragraph for company information</h5>
                    <div class="card-body text-dark">
                      
                      <p class="card-text">Paarsh Infotech provides more than website design and Software development. 
                        Your business, web presence, and brand identity will be taken to the next level. And Also 
                        providing solutions for corporate Web Designing, Web Application Development, Mobile Application 
                        Development, Software Development, Digital Marketing, Software Testing, and many more.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card border-dark mb-3  shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
                    <h5 class="card-header">Paragraph for Employees</h5>
                    <div class="card-body text-dark">
                      
                      <p class="card-text">Employee perform specific duties and tasks for employers in exchange for compensation. 
                          Typically they work in full-time, part-time or tempory capacity. Employee fullfil certain job resposibiltes 
                          and roles most often defined in the job listing.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-dark mb-3  shadow p-3 mb-5 bg-white rounded" style="width: 100%;">
                    <h5 class="card-header">Paragraph for Human Resource</h5>
                    <div class="card-body text-dark">
                    
                      <p class="card-text">An HR department is taksed with maximazing employee productivty and protecting 
                        the company from any issues that may arise whithin the workforce. HR resposibiltes include compensation 
                        and benefits, recruuitment, firing and keeping up at date with any laws that may affect the company 
                        and its employees..</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    
        </div>
        <!-- <div class="row">
            <div class="col-4">
                <div class="card border-dark mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem;">
                    <h5 class="card-header">Paragraph for company information</h5>
                    <div class="card-body text-dark">
                      
                      <p class="card-text">Paarsh Infotech provides more than website design and Software development. 
                        Your business, web presence, and brand identity will be taken to the next level. And Also 
                        providing solutions for corporate Web Designing, Web Application Development, Mobile Application 
                        Development, Software Development, Digital Marketing, Software Testing, and many more.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card border-dark mb-3  shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem;">
                    <h5 class="card-header">Paragraph for Employees</h5>
                    <div class="card-body text-dark">
                      
                      <p class="card-text">Employee perform specific duties and tasks for employers in exchange for compensation. 
                          Typically they work in full-time, part-time or tempory capacity. Employee fullfil certain job resposibiltes 
                          and roles most often defined in the job listing.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-dark mb-3  shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem;">
                    <h5 class="card-header">Paragraph for Human Resource</h5>
                    <div class="card-body text-dark">
                    
                      <p class="card-text">An HR department is taksed with maximazing employee productivty and protecting 
                        the company from any issues that may arise whithin the workforce. HR resposibiltes include compensation 
                        and benefits, recruuitment, firing and keeping up at date with any laws that may affect the company 
                        and its employees..</p>
                    </div>
                </div>
            </div>
        </div> -->

        

        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <span class="navbar-brand h1 center">Footer</span>
            </div>
        </nav>

    </body>
</html>